body{
  font-family: Roboto ;
}
.whole-page{
  display: flex;
}
.static-leftside{
  background-color: bisque;
  width: 20%;
  height: 100vh;
}
.scrolable-rightside{
  background-color: aquamarine;
  width: 80%;
  height: 100vh;
}
/* ------------------ */
/* toparea */
.top-area{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background-color: black;
}
.top-right-area{
  display: flex;
}
.search-area{
  display: flex;
}
.menuandlogo{
  display: flex;
}
.first{
  display: flex;
}
.second{
  display: flex;
}
.third{
  display: flex;
}
.fourth{
  display: flex;
}
.fifth{
  display: flex;
}
.sixth{
  display: flex;
}
.seventh{
  display: flex;
}
.eight{
  display: flex;
}
.nineth{
  display: flex;
}
.tenth{
  display: flex;
}
/* =============== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  font-family: Arial, sans-serif;
}

.tag-container {
  display: flex;
  
  background-color: #1a1a1a;
  padding: 10px;
  white-space: nowrap;
}

.tag {
  display: inline-block;
  background-color: #3a3a3a;
  color: white;
  padding: 10px 20px;
  border-radius: 50px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 14px;
  /* transition: background-color 0.3s; */
}

.tag:hover {
  background-color: #5a5a5a;
}

.tag.active {
  background-color: white;
  color: black;
}
/* .parentone{
  display: flex;
  width: 80%;
  height: 100px;

}
.divv{
  background-color: aqua;
  height: 100px;
  width: 100px;
} */
